.features{
    display: flex;
    justify-content: center;
    background-color: #f1fdf7;

    
    &.dark {
        background-color: #0d084d;

        h2 {
            color: white !important;
          }
    
          i {
            font-weight: 300;
          }
    
          p {
            margin-bottom: 18px;
            color: white !important;
          }
    
          ul{
            color: white !important;
            font-weight: 300 !important;
            font-size: 14px !important;
          }
    
          button {
            background-color: #1dbf73;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            width: max-content;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
          }
            img{
                width: 720px;
                padding-right: 5px;
                object-fit: cover;
            }
    }
    .container{
        width: 1400px;
        display: flex;
        // flex-direction: row;
        align-items: center;
        // justify-content: space-around;
        gap: 200px;
        padding: 96px 32px;

        // &:first-child {
        //     flex: 2;
        //   }
        //   &:last-child {
        //     flex: 3;
        //   }
  
        .left{
            max-width: 46%;
            h2{
                font-size: 32px;
                line-height: 120%;
                padding-bottom: 24px;
            }
            ul{
                text-decoration: none;
                list-style: none;
                li{
                    padding-bottom: 24px;
                    font-size: 18px;
                    h6{
                        display: flex;
                        align-content: center;
                        font-size: 18px;
                        padding-bottom: 8px;
                        img{
                            width: 24px;
                            height: 24px;
                            padding-right: 5px;
                        }
                    }
                    img{
                        width: 24px;
                        height: 24px;
                        padding-right: 5px;
                    }
                    p{
                        font-size: 18px;
                        color: #62646a;
                    }
                }
            }

        }
        .right{
            width: 720px;
            .vdo{
                border-radius: 5px;
            }
            img{
                padding-right: 5px;
                object-fit: cover;
            }
        }
    }
}

.explore{
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    .container{
        width: 1400px;

        h2{
            color: #555;
        }


        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style: none;

            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 250px;
          height: 150px;
          gap: 10px;
          cursor: pointer;
          
                      img {
                          width: 50px;
                          height: 50px;
                        }

          .line{
            width: 50px;
            height: 2px;
            background-color: lightgray;
            transition: all .3s ease;
          }

          span {
            font-weight: 300;
          }

          &:hover{
            .line{
              width: 80px;
              background-color: #1dbf73;
            }
          }
            }
        }
    }
}