.featured {
  display: flex;
  justify-content: center;
  background-color: #013914;
  height: 600px;
  color: white;
  .container {
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 30px;
      h1 {
        font-size: 50px;
        i{
          font-weight: 300;
        }
      }
      .search {
        justify-content: space-between;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        .search-input {
            display: flex;
            justify-content: center;
            padding: 5px;
            gap: 10px;
            width: 100%;
          input {
            width: 100%;
            border: none;
            outline: none;
            padding-left: 10px;

            &::placeholder {
              color: gray;
              font-weight: 500;
              padding-left: 10px;
            }
          }
        }
        button {
          background-color: #1dbf73;
          border: none;
          align-self: flex-end;
          color: white;
          height: 50px;
          width: 70px;
          cursor: pointer;

          img {
            width: 20px;
            color: white;
          }
        }
      }
      .popular {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        span {
        }
        button {
          border: 1px solid white;
          border-radius: 20px;
          padding: 5px 10px;
          background: transparent;
          color: white;
          cursor: pointer;
        }
      }
    }
    .right {
      img {
      }
    }
  }
}
